body {
	background-image: url("https://images4.alphacoders.com/966/966314.jpg");
	background-size: cover;
}

.grid-container1 {
	/*height: 100vh;
	width: 100vw;*/
	display: grid;
	grid-template-rows: 50px 1fr 300px;
	grid-template-columns: 300px 100px 1fr;
	grid-template-areas: "bnr bnr bnr"
						 "inst . loc"
						 "dis dis dis";
	background-color: #fff787;
  	padding: 10px;
  	border-radius: 20px;
}

.inputs {
	align-content: center;
	align-items: center;
	font-size: 2em;
}

input {
	/*display: flex;*/
	/*width: 50%;*/
	background-color: #eee;
  	color: black;
  	text-align: center;
  	border: 2px solid #3AEB28;
  	border-radius: 8px;

}

/*#submit-button {
	
  background-color: #4CAF50; /* Green */
/*  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}*/
}

form {
	max-width: 300px;
	margin: 0 auto;
}



img {
	display:inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  border-color: black;
  border-radius: 8px;

}

.pics_in_a_row {
  display: none;
  justify-content: space-between;
}

.disasterPics {
	
	display:none;
  	justify-content: space-around;
}

#mountain { flex: 1.77; 

}
#forest { flex: 1.77; }
#coast { flex: 1.77; }
#Plains{ flex: 1.77; }


#banner {
	grid-area: bnr;
	font-family: minecraft;
	text-align: center;
	color:#1766FF;
	font-size:2.5em;
	grid-column: 1 / span 3;

}

#instructions {
	grid-area: inst;
	font-family: minecraft;
	text-align: center;
	color:#1766FF;
	font-size:1em;
}

#rules {
	display:flex;
	font-family: minecraft;
	text-align: left;
	font-size: 1em;

}

li {
	padding:.5em;
}

#location {
	grid-area: loc;
	font-family: minecraft;
	text-align: center;
	color:#1766FF;
	font-size:1em;
}



#disasters {
	grid-area: dis;
	font-family: minecraft;
	text-align: center;
	color:#1766FF;
	font-size:1.7em;
	grid-column: 1 / span 3;
}

.grid-container2 {
	display: none;
	height:90vh;
	width: 85vw;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 3fr 1fr; 
	grid-template-areas: "bnr bnr bnr"
						 "env env bld ";
	background-color: #D0E856;
  	padding: 10px;
  	border-radius: 20px;

}

	#environment {
		grid-area: env;
		font-family: minecraft;
		text-align: left;
		color:#1766FF;
		font-size:2em;

	}

	#build {
		grid-area: bld;
		font-family: minecraft;
		text-align: left;
		color:#1766FF;
		font-size:2em;

	}

.grid-container3 {
	display: none;
	height: 90%;
	width: 85%;
	grid-template-rows: 50px 1fr;
	grid-template-areas: "bnr"
						 "."
}

